/* Specific Shape for service section */
.service-shape-bottom {
  display: block;
  width: 100%;
  background-color: #ebebebb0;
}

.services-description {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

.service-shape-bottom1 {
  display: block;
  width: 100%;
  background-color: #ebebebb0;
  transform: scaleY(-1); 
}

/* Services.css */
.services-container {
  padding: 40px;
  background-color: #dfdfdf68;
  text-align: center;
  font-family: Arial, sans-serif;
}

.services-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
}

.services-description {
  font-size: 16px;
  color: #000000;
  margin-bottom: 40px;
  line-height: 1.6;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
}

.service-card {
  background-color: transparent;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
  min-width:80px;
  margin-left: 150px;

}

.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  color: #424242;
  margin-bottom: 20px;
}

.service-link {
  font-size: 14px;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
}

.service-link:hover {
  text-decoration: underline;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #007bff;
}
.services-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.services-cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% / 3 * var(--index)));
}


