 /*BG SHAPE*/
.shape {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 0;
    direction: ltr;
    overflow: hidden;
    z-index: -1;
    
}

.shape-1 svg {
    display: block;
    width: calc(122% + 1.3px);
    height: 134px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.shape-bottom {
    bottom: -1px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.shape-bottom svg {
    display: block;
    height: 275px;
    width: calc(228% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


@media (max-width: 991px) {
    .shape-bottom svg {
        height: 112px;
        width: auto;
    }
      
.welcome-thumb-wrapper{
  display: none;
}
}

@media (max-width: 575px) {
     
    .welcome-thumb-wrapper{
      display: none;
    }
}

/*BACKGROUND OVERLAY*/
.bg-overlay,
.overlay-dark {
    position: relative;
    z-index: 0;
}

.bg-overlay::after,
.overlay-dark:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bg-overlay::after {
    opacity: 0.95;
    z-index: -1;
}

.overlay-dark::after {
    background-color: rgba(16, 16, 45, 1);
    opacity: 0.95;
    z-index: -1;
}

/*BACKGROUND COLORS*/
.color-1 {
    color: #be63f9;
}

.color-2 {
    color: #26c6da;
}

.color-3 {
    color: #fc573b;
}

.color-4 {
    color: #34FF92;
}

.color-5 {
    color: #ffd200;
}

.color-6 {
    color: #ff9d45;
}

.color-1.bg-hover:hover::after,
.color-1.bg-hover.active::after {
    background-color: #be63f9;
}

.color-2.bg-hover:hover::after,
.color-2.bg-hover.active::after {
    background-color: #26c6da;
}

.color-3.bg-hover:hover::after,
.color-3.bg-hover.active::after {
    background-color: #fc573b;
}

.color-4.bg-hover:hover::after,
.color-4.bg-hover.active::after {
    background-color: #34FF92;
}

.color-5.bg-hover:hover::after,
.color-5.bg-hover.active::after {
    background-color: #ffd200;
}

.color-6.bg-hover:hover::after,
.color-6.bg-hover.active::after {
    background-color: #ff9d45;
}

.text-muted {
    color: #888 !important;
}

.bg-grey {
    background-color: #f4f4f4;
}

.bg-inherit {
    background: inherit !important;
}

.bg-overlay::after {
    background: -webkit-radial-gradient(50% 50%, circle closest-side, #af52ed 0%, #8830df 100%);
}

.breadcrumb-area.bg-overlay::after {
    background: linear-gradient(-45deg, #af52ed 0%, #8830df 100%);
}

